<div style="display: grid">
    <span style="display:block; margin-bottom: 1px;">2023-11-13 금일 휴가자 목록</span>
    <br><table style="border-collapse: collapse; width: 1200px;" border="1">

    <tr>
        <td style="text-align: center;">사용</td>
        <td style="text-align: center;">파트</td>
    </tr>
    {{#TEST}}
        <tr>
            <td style="text-align: center;">{{title}}</td>
            <td style="text-align: center;">{{part}}</td>
        </tr>
    {{/TEST}}
    </table>
    <br><span style="display:block; color: #999999; margin-bottom: 1px;">(본 메일은 테스트 메일입니다.)</span>
</div>